//Цвета
//Шапка
$header_text_color: #222f36; //Цвет текста в шапке 
$header_bg_color: rgba(97, 134, 153, 0.00); //Цвет блоков новостей 
//Блоки
$body_headerText_color: #eaeaea; //Цвет текста в шапке 
$body_text_color: #ffffff; //Цвет текста в шапке 
$body_bg_color: #72a1bf; //Цвет блоков новостей 
$body_color_active: #00ffef;
//Размеры 
$wrap_width: 400px;
//Шрифты
@font-face {
  font-family: main-font;
  /* Гарнитура шрифта */
  src: url(/fonts/T2LUHxYu.ttf);
  /* Путь к файлу со шрифтом */
}
.first-row {
  position: relative;
  height: 180px;
}
.header__text-main {
  position: absolute;
  top: 10px;
  left: 50px;
  font-family: main-font;
  font-size: 35px;
}
.header__text-subtext {
  position: absolute;
  top: 100px;
  left: 70px;
  font-family: main-font;
  font-size: 60px;
}
.header__project-active {
  position: relative;
}
.header__project_text {
  position: absolute;
  top: 120px;
  left: 570px;
  font-family: main-font;
  font-size: 30px;
}
.header__project_img {
  position: absolute;
  top: 70px;
  left: 770px;
}
.content__img {
  float: left;
  margin-right: 10px;
  width: 110px;
  height: 100px;
}
.conteiner_content_img {
  margin-top: 5px;
  text-align: center;
  img {
    float: left;
  }
}
.myhead__text {
  display: inline-block;
  color: $body_headerText_color;
  text-shadow: 3px 3px 2px #222f36;
  font-size: 20px;
  font-family: main-font;
  margin: 7px 0 0 10px;
  line-height: 30px;
  vertical-align: top;
}
.content__text {
  font-family: 'Orbitron', sans-serif;
}
.conteiner_content_img {
  float: left;
  width: 155px;
  text-align: center;
}
.test__conteiner {
  position: relative;
  background: linear-gradient(to bottom, rgba(116, 92, 68, 0.9), rgba(165, 148, 112, 0.6));
  box-shadow: 4px 3px 3px rgb(7, 5, 3);
  margin-top: 10px;
  position: relative;
  height: 150px;
  button {
    color: white;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}