@import "general/myfont.scss";

body, html {
  height: 100%;
}

body{
  background: #000000 url(/images/background/b4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; 
}

.main-wrapper {
  min-height: 100%;
  position: relative;
}

.maincontent {
  height: 100%; 
  transition: 1s;
 /* -moz-transition: top 1s;
  -o-transition: top 1s;
  -webkit-transition: top 1s;
  transition: top 1s; */
}

.page {
  padding-top: 51px;
}

nav{
  z-index: 99;
}

.row{
  position: relative;
}

.sidebar{
  position: absolute;
  right: 0;
  top: 74px;
  color: $header_text_color;
  padding: 0 0 0 10px; 
  margin: 10px 0 0 0px;
  ul{
    height: 630px;
    padding: 20px 0 20px 20px;
    background: linear-gradient(to bottom, rgba(116, 92, 68, 0.8), rgba(165, 148, 112, 0.5));
    box-shadow: 4px 3px 3px rgb(7, 5, 3);
  }
  li{
    font-size: 16px;
  }
  a{
    color: $header_text_color;
  }
}

//Header Block
.first-row {
  //margin-top: 20px;
  position: relative;
  height: 300px;
}
.frame-img{
    text-align: center;
    width: 166px;
    height: 137px;
    background-image: url(/images/icons/sprites.png);
    background-position: -322px -173px;
    margin-top: 60px;
    position: relative;
}
.image-fraction{
    position: absolute;
    top: 11px;
    left: 28px;
    text-align: center;
    width: 105px;
    height: 125px;
    background-image: url(/images/icons/sprites.png);
    background-position: -10px -132px;
}
.image-main{
  padding-top: 20px;
  text-align: center;
}
.image-logo{
  height: 100%;
  text-align: center;
  @include font-properties;
  font-size: 33px;
  line-height: 40px;
  padding-top: 21px;
  
}
.header__text-main {
  position: relative;
  top: 10px;
  left: 50px;
  @include font-properties;
}

@media only screen and (max-width: 550px) {
  .header__text-main {
    font-size: 30px;
  }
}
@media only screen and (min-width: 550px) {
  .header__text-main {
    font-size: 35px;
  }
}
@media only screen and (min-width: 970px) {
  .header__text-main {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1170px) {
  .header__text-main {
    font-size: 45px;
  }
}




//News Blocks
.content__img {
  float: left;
  margin-right: 10px;
  width: 110px;
  height: 100px;
}
.conteiner_content_img {
  margin-top: 5px;
  text-align: center;
  img {
    float: left;
  }
}
.myhead__text {
  display: inline-block;
  color: $body_headerText_color;
  text-shadow: 3px 3px 2px #222f36;
  font-size: 25px;
  font-family: 'Ubuntu';
  margin: 7px 0 0 10px;
  line-height: 30px;
  vertical-align: top;
}
.myhead__date{
  position: absolute;
  top: 5px;
  right: 5px;
  font: 14px/20px 'Orbitron';
  color: darken($body_headerText_color, 20%);
  white-space: nowrap;
}
.content__text {
  //display: block;
  height: 80px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  //white-space:nowrap;
  //width: 800px;
  font-family: 'Orbitron', sans-serif;
}
.conteiner_content_img {
  float: left;
  width: 155px;
  text-align: center;
}
.test__conteiner {
  position: relative;
  background: linear-gradient(to bottom, rgba(116, 92, 68, 0.9), rgba(165, 148, 112, 0.6));
  box-shadow: 4px 3px 3px rgb(7, 5, 3);
  margin-top: 10px;
  height: 150px;
  button {
    color: white;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}

.clearing{
  margin-top: 50px;
  height: 100px;
}

.beta{
  position: fixed;
  top: 56px;
  left: 6px;
  font: 30px/25px arial;
  color: red;
  z-index: 9999;
}