@import "general/myfont.scss";
body,
html {
  height: 100%;
}
body {
  background: #000000 url(/images/background/b4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.main-wrapper {
  min-height: 100%;
  position: relative;
}
.maincontent {
  height: 100%;
  transition: 1s;
}
.page {
  padding-top: 51px;
}
nav {
  z-index: 99;
}
.row {
  position: relative;
}
#section1 {
  .sidebar {
    margin-top: 20px;
    float: right;
    width: 210px;
    color: #ffffff;
    box-shadow: 4px 3px 3px rgb(7, 5, 3);
  }
  .sidebar p {
    padding-left: 10px;
    font-size: 18px;
    font-family: Sylfaen-font, arial;
    height: 26px;
    margin: 0 0 8px 0;
    @include bg-sidebar-header-linear-gradient;
  }
  .voice-chats_conteiner {
    @include bg-forms-linear-gradient;
    font-size: 16px;
    font-family: Metrics;
    ul {
      list-style-type: none;
      margin: 0 0 0 8px;
      padding: 0;  
    }
    li {
      height: 45px;
    }
    .voice-chat_sprite {
      float: left;
      width: 35px;
      height: 35px;
      margin: 5px 5px 0 0;
      background-image: url(/images/sprites/voise-prog.png);
    }
    .team-speak {
      background-position: 0 0;
    }
    .mumble {
      background-position: 0 -35px;
    }
  }
  .server-status_conteiner {
    height: 65px;
    @include bg-forms-linear-gradient;
    font-size: 16px;
    font-family: Metrics;
    span{
      line-height: 24px;
    }
    .server-status_sprite {
      float: left;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      margin-left: 5px;
      background-image: url(/images/sprites/server-status.png);
    }
  }
  .guild-requirement_conteiner {
    height: 156px;
    @include bg-forms-linear-gradient;
    ul {
      list-style-type: none;
      margin: 0 0 0 1px;
      padding: 0;
    }
    li {
      display: inline-block;
    }
    .class_sprite {
      width: 48px;
      height: 48px;
      background-image: url(/images/sprites/class-sprite.png);
      background-position: 0 -5px;
    }
    .blade_master {
      background-position: 0 -5px;
    }
    .destroyer {
      background-position: 0 -65px;
    }
    .summoner {
      background-position: 0 -125px;
    }
    .force_master {
      background-position: 0 -185px;
    }
    .kung_fu_master {
      background-position: 0 -245px;
    }
    .assasin {
      background-position: 0 -305px;
    }
    .blade_dancer {
      background-position: 0 -365px;
    }
  }
  .useful-links_conteiner {
    height: 156px;
    @include bg-forms-linear-gradient;
    ul {
      margin: 0 0 0 10px;
      padding: 0;
      list-style-type: none;
    }
    a {
      font-size: 16px;
      font-family: Metrics;
      color: #ffffff;
    }
  }
  
  
  
  .content_conteiner {
    float: left;
  }
  @media only screen and (max-width: 550px) {
    .col-width {
      width: 100%;
    }
  }
  @media only screen and (min-width: 550px) {
    .col-width {
      width: 100%;
    }
  }
  @media only screen and (min-width: 970px) {
    .col-width {
      width: 710px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .col-width {
      width: 910px;
    }
  }
  //Header Block
  .first-row {
    position: relative;
    height: 300px;
  }
  .frame-img {
    text-align: center;
    width: 166px;
    height: 137px;
    background-image: url(/images/sprites.png);
    background-position: -322px -173px;
    margin-top: 60px;
    position: relative;
  }
  .image-fraction {
    position: absolute;
    top: 11px;
    left: 28px;
    text-align: center;
    width: 105px;
    height: 125px;
    background-image: url(/images/sprites.png);
    background-position: -10px -132px;
  }
  .image-main {
    padding-top: 20px;
    text-align: center;
  }
  .image-logo {
    height: 100%;
    text-align: center;
    @include font-properties;
    font-size: 33px;
    line-height: 40px;
    padding-top: 21px;
  }
  .header__text-main {
    position: relative;
    top: 10px;
    left: 50px;
    @include font-properties;
  }
  @media only screen and (max-width: 550px) {
    .header__text-main {
      font-size: 30px;
    }
  }
  @media only screen and (min-width: 550px) {
    .header__text-main {
      font-size: 35px;
    }
  }
  @media only screen and (min-width: 970px) {
    .header__text-main {
      font-size: 40px;
    }
  }
  @media only screen and (min-width: 1170px) {
    .header__text-main {
      font-size: 45px;
    }
  }
  //News Blocks
  .content__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .conteiner_content_img {
    padding: 3px;
    img {
      width: 100%;
      float: left;
    }
  }
  .myhead__text {
    display: inline-block;
    color: $body_headerText_color;
    text-shadow: 3px 3px 2px #222f36;
    font: 25px/25px Metrics;
    margin: 7px 0 0 10px;
    line-height: 30px;
    vertical-align: top;
  }
  .myhead__date {
    position: absolute;
    top: 5px;
    right: 5px;
    font: 14px/20px Metrics;
    color: #ffffff;
    white-space: nowrap;
  }
  .content__text {
    //display: block;
    padding: 0 0 0 10px;
    height: 80px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Orbitron', sans-serif;
  }
  .conteiner_content_img {
    float: left;
    width: 155px;
    height: 150px;
    text-align: center;
  }
  .news__conteiner {
    position: relative;
    background: linear-gradient(to bottom, rgba(116, 92, 68, 0.9), rgba(165, 148, 112, 0.6));
    box-shadow: 4px 3px 3px rgb(7, 5, 3);
    margin-top: 20px;
    height: 150px;
    button {
      color: white;
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }
}
.clearing {
  margin-top: 50px;
  height: 100px;
}
.beta {
  position: fixed;
  top: 56px;
  left: 6px;
  font: 24px/25px arial;
  color: red;
  z-index: 9999;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}