//Цвета
//Шапка
$header_text_color: #222f36; //Цвет текста в шапке 
$header_bg_color: rgba(97, 134, 153, 0.00); //Цвет блоков новостей 
//Блоки
$body_headerText_color: #eaeaea; //Цвет текста в шапке 
$body_text_color: #ffffff; //Цвет текста в шапке 
$body_bg_color: #72a1bf; //Цвет блоков новостей 
$body_color_active: #00ffef;
$footer_text_color: #e4e5e4; //Цвет текста 
$footer_bg_color: #333333; //Цвет фона 
$footer_bg_active_color: #00ffff;
//Размеры 
$wrap_width: 980px;
//Шрифты
@font-face {
  font-family: main-font;
  /* Гарнитура шрифта */
  src: url(/fonts/T2LUHxYu.ttf);
  /* Путь к файлу со шрифтом */
}
.section-2 {
  /*width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;*/
  .page__content__conteiner {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
  }
  .page__content__conteiner:after {
    content: ' ';
    display: block;
    height: 130px;
    clear: both
  }
  .mypage-header {
    width: 1100px;
    margin: 0 auto;
    height: 150px;
    color: $header_text_color;
    position: relative;
    top: 0;
    left: 50px;
  }
  .header__text {
    position: absolute;
    top: 70px;
    left: 50px;
    font-family: main-font;
    font-size: 60px;
  }
  .small-item {
    width: $wrap_width / 3 - 20px;
  }
  .page-content {
    width: $wrap_width;
    margin: 0 auto;
    // width: 100%;
    //display: none;
  }
  .content__item {
    float: left;
    margin: 10px 5px 0 5px;
    background: linear-gradient(to bottom, rgba(0, 70, 117, 0.6), rgba(147, 194, 210, 0.79));
    //box-shadow: 4px 2px 3px #43545D;
    box-shadow: 4px 2px 3px #43545D, 0 0 10px rgba(0, 70, 117, 0.6) inset;
    //border: 2px solid rgba(0, 70, 117, 0.6);
    position: relative;
    height: 320px;
    //width: 200px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      background: linear-gradient(to bottom, rgba(0, 70, 117, 0.6), rgba(147, 194, 210, 1));
    }
  }
  .content__img {
    float: none;
    margin-right: 8px;
    width: 100%;
    height: 150px;
  }
  .conteiner_project_img {
    margin-top: 5px;
    text-align: center;
  }
  .content_img_logo {
    display: none;
  }
  .active__hover_img {
    display: inline-block;
  }
  .content__head {
    .head__text {
      width: 100%;
      background-color: darken($body_bg_color, 40%);
      display: inline-block;
      color: $body_headerText_color;
      text-shadow: 3px 3px 2px #222f36;
      font-size: 20px;
      font-family: main-font;
      line-height: 30px;
      vertical-align: top;
      text-align: center;
    }
  }
  .content__body {
    padding: 7px;
    color: $body_text_color;
  }
  .content__text {}
}
footer {
  clear: both;
  position: relative;
  width: 100%;
  margin-top: -90px;
  height: 90px;
  background-color: $footer_bg_color;
}
.scrollcontrol {
  position: absolute;
  top: -20px;
  left: 48%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: transparent transparent $footer_bg_color;
}
.footer-wrapper {
  width: $wrap_width;
  margin: 0 auto;
}
.footer__content {
  background-color: $footer_bg_color;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.content-table {
  display: table-cell;
  height: 90px;
  //font-size: 14px;
  text-align: center;
  vertical-align: middle;
  color: $footer_text_color;
}
.copyright {
  font-size: 12px;
  img {
    zoom: 0.8;
  }
}
.footer__logo {
  img {
    zoom: 1;
  }
  .footer__logo_text {
    font-family: cursive;
    font-size: 14px;
  }
}
.site__map {
  margin: 0 auto;
  width: 120px;
}
.head_site__map {
  font-size: 20px;
  border-bottom: 1px solid $footer_bg_active_color;
  margin: 3px 0;
}
.site__map-left {
  float: left;
}
.site__map-right {
  float: right;
}
.sitemap__link {
  font-size: 14px;
  text-decoration: none;
  color: darken($footer_text_color, 20%);
  display: block;
  &:hover {
    color: darken($footer_bg_active_color, 30%);
    text-decoration: underline;
  }
}