.section-4 {
  .header-row {
    height: 100px;
  }
  .header_text {
    position: relative;
    top: 20px;
    left: 50px;
    @include font-properties;
    font-size: 45px;
  }
  .page-content {
    color: #ffffff;
  }
  .project_container {
    margin: 0px 20px 45px 0px;
    @include bg-forms-linear-gradient;
    box-shadow: 4px 2px 3px rgba(70, 56, 42, 0.9), 0 0 10px rgba(33, 26, 20, 0.9) inset;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }
  .project-img {
    height: 160px;
    .conteiner_project_img {
      padding: 5px;
      margin: 3px;
      height: 100%;
      text-align: center;
    }
  }
  .content_img_logo {
    display: none;
  }
  .active__hover_img {
    display: inline-block;
  }

.project-name {
  .head__text {
    width: 100%;
    background-color: #221911;
    font-size: 20px;
    font-family: Sylfaen-font;
    line-height: 30px;
    text-align: center;
  }
}
.project-body {
  height: 270px;
  .content__text {
    padding: 7px;
    color: $body_text_color;
    text-align: justify;
  }
}

}