<div class="row" ng-repeat="dungeon in dungeons[tabNumber]">
  <div class="dungeon-header">База снабжения "Морской Змей"</div>
  <div class="col-lg-6">
    <span>Список боссов:</span>
    <ul>
      <li>
        <div></div>
        <span></span>
        <a href=""></a>
      </li>
    </ul>
  </div>
  <div class="col-lg-3">
    <span>Сложность</span>
    <div></div>
    <a href="">Тактика</a>
    <span>Местонахождение</span>
    <div></div>

  </div>
  <div class="col-lg-3">
    <div>
      <span>2/5</span>
    </div>
  </div>
</div>