<div class="container my-footer">
  <div class=" scrollcontrol"></div>
  <div class="footer-wrapper">
    <div class="footer__content">
      <div class="content-table copyright">
        <a href="#/">
          <img class="" src="/images/KymStroi.png" /></a>
        <br /> Copyright © 2015 КумСтрой
      </div>
      <div class="content-table footer__logo">
        <div class="footer__logo_LogoText">Плохиши&nbsp;&nbsp;Bad Gues</div>
       <!-- <img class="footer__logo_img" src="/images/footerLogo.png">-->
        <div class="footer__logo_text">Да мы такие :)</div>
      </div>
      <div class="content-table">
        <div class="site__map">
          <div class="head_site__map">
            Site Map
          </div>
          <div class="site__map-left">
            <a href="#/" class="sitemap__link">Home</a>
            <a href="#/achievements" class="sitemap__link">Achivs</a>
            <a href="#/players_table" class="sitemap__link">Players</a>
          </div>
          <div class="site__map-right">
            <a href="#/projects" class="sitemap__link">Projects</a>
            <a href="#/about" class="sitemap__link">About</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>