<div class="container my-footer">
  <div class=" scrollcontrol"></div>
  <div class="footer-wrapper">
    <div class="footer__content">
      <div class="content-table copyright">
        <a href="#/">
          <img class="" src="/images/KymStroi.png" /></a>
        <br /> Copyright © 2015 <br /> КумСтрой
      </div>
      <div class="content-table footer__logo">
        <div class="footer__logo_LogoText">Плохиши&nbsp;&nbsp;Bad Guys</div>
       <!-- <img class="footer__logo_img" src="/images/footerLogo.png">-->
        <div class="footer__logo_text">Да мы такие :)</div>
      </div>
      <div class="content-table">
        <div class="site__map">
          <div class="head_site__map">
            Карта сайта
          </div>
          <div class="site__map-left">
            <a href="#/" class="sitemap__link">Главная</a>
            <a href="#/achievements" class="sitemap__link">Данжи</a>
            <a href="#/players_table" class="sitemap__link">Игроки</a>
          </div>
          <div class="site__map-right">
            <a href="#/projects" class="sitemap__link">Проекты</a>
            <a href="#/about" class="sitemap__link">Помощи нет</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>