<div id="login" class="login_conteiner" ng-class="{hiddenLogin:!show,showLogin:show}">
  <span><span class="main-symvol">В</span>аш аккаунт</span>
    <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon3">
    <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon3">
    <input type="checkbox"><span class="remember">Запомнить</span>
    <button type="button" class="btn btn-default mybtn">Login</button>
   <!-- <a href="/registration">Регистрация</a>-->
</div>