@charset "UTF-8";
@font-face {
  font-family: main-font;
  /* ╨У╨░╤А╨╜╨╕╤В╤Г╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
  src: url(/fonts/T2LUHxYu.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
body, html {
  height: 100%;
  width: 100%; }

.mywrapper {
  height: 100%;
  overflow: hidden;
  background: url(/images/background/b4.jpg) fixed no-repeat center;
  background-size: 2000px; }

.maincontent {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0%;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  -webkit-transition: top 1s;
  transition: top 1s; }

.page {
  width: 100%;
  height: 100%;
  position: relative; }

nav {
  z-index: 99; }

nav {
  font-family: main-font; }

.navbar {
  border-radius: 0px; }

.navbar-brand {
  padding: 11px 15px; }

.nav-sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 200; }
  .nav-sidebar .nav__list {
    list-style-type: none; }
  .nav-sidebar .nav__item {
    position: relative;
    margin: 15px 5px 0 0;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 0 0 2px white; }
  .nav-sidebar .nav__item-link {
    display: block;
    width: 100%;
    height: 100%; }
  .nav-sidebar .mynav-active {
    background-color: #000407; }

@font-face {
  font-family: main-font;
  /* ╨У╨░╤А╨╜╨╕╤В╤Г╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
  src: url(/fonts/T2LUHxYu.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
.first-row {
  position: relative;
  height: 180px; }

.header__text-main {
  position: absolute;
  top: 10px;
  left: 50px;
  font-family: main-font;
  font-size: 35px; }

.header__text-subtext {
  position: absolute;
  top: 100px;
  left: 70px;
  font-family: main-font;
  font-size: 60px; }

.header__project-active {
  position: relative; }

.header__project_text {
  position: absolute;
  top: 120px;
  left: 570px;
  font-family: main-font;
  font-size: 30px; }

.header__project_img {
  position: absolute;
  top: 70px;
  left: 770px; }

.content__img {
  float: left;
  margin-right: 10px;
  width: 110px;
  height: 100px; }

.conteiner_content_img {
  margin-top: 5px;
  text-align: center; }
  .conteiner_content_img img {
    float: left; }

.myhead__text {
  display: inline-block;
  color: #eaeaea;
  text-shadow: 3px 3px 2px #222f36;
  font-size: 20px;
  font-family: main-font;
  margin: 7px 0 0 10px;
  line-height: 30px;
  vertical-align: top; }

.content__text {
  font-family: 'Orbitron', sans-serif; }

.conteiner_content_img {
  float: left;
  width: 155px;
  text-align: center; }

.test__conteiner {
  position: relative;
  background: linear-gradient(to bottom, rgba(116, 92, 68, 0.9), rgba(165, 148, 112, 0.6));
  box-shadow: 4px 3px 3px #070503;
  margin-top: 10px;
  position: relative;
  height: 150px; }
  .test__conteiner button {
    color: white;
    position: absolute;
    bottom: 0;
    right: 10px; }

@font-face {
  font-family: main-font;
  /* ╨У╨░╤А╨╜╨╕╤В╤Г╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
  src: url(/fonts/T2LUHxYu.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
.registration-form label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: #d8cbbb;
  font-family: main-font;
  text-shadow: 1px 1px 1px black; }
.registration-form .checkbox label {
  letter-spacing: normal;
  word-spacing: normal;
  font-family: 'Orbitron';
  padding: 10px 0 0 22px; }

@font-face {
  font-family: main-font;
  /* ╨У╨░╤А╨╜╨╕╤В╤Г╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
  src: url(/fonts/T2LUHxYu.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
.heroes_ranks_header {
  height: 100px; }

.player-head {
  text-align: center;
  height: 35px;
  font: 20px/30px Arial;
  text-shadow: 1px 1px 1px #000000; }
  .player-head a {
    font: 18px/20px main-font;
    width: 250px;
    display: inline-block;
    color: #ea8f13;
    padding: 5px 10px;
    border: 2px solid #e88e13;
    box-shadow: 0 0 40px rgba(255, 216, 0, 0.26) inset; }
  .player-head a:nth-child(2) {
    margin-left: 50px; }

.tree_header {
  margin-left: 200px;
  margin-top: 10px; }
  .tree_header span {
    font: 35px/40px Arial;
    color: #ad921f;
    text-shadow: 1px 1px 1px #000000; }

.heroes_ranks {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  cursor: default; }

.heroes_ranks > div {
  /* font-size: 0px;
   height: 190px;*/ }

.heroes_ranks div div {
  height: 190px;
  display: inline-block;
  position: relative;
  overflow: hidden; }

.heroes_ranks > div:nth-child(1) > div {
  width: 328px; }

.heroes_ranks > div:nth-child(2) > div {
  width: 328px; }

.heroes_ranks > div:nth-child(3) > div {
  width: 320px; }

.heroes_ranks > div:nth-child(4) > div {
  width: 260px; }

.heroes_ranks > div:nth-child(5) > div {
  width: 240px;
  position: absolute;
  top: 50px;
  left: 120px; }

.heroes_ranks div > span {
  width: inherit;
  display: inline-block; }

.heroes_ranks.frac1 div:nth-child(1) div > span:first-child {
  background-position: center -522px; }

.heroes_ranks.frac1 div:nth-child(2) div > span:first-child {
  background-position: center -387px; }

.heroes_ranks.frac1 div:nth-child(3) div > span:first-child {
  background-position: center -252px; }

.heroes_ranks.frac1 div:nth-child(4) div > span:first-child {
  background-position: center -118px; }

.heroes_ranks.frac1 div:nth-child(5) div > span:first-child {
  background-position: center 22px; }

.heroes_ranks div > span:first-child {
  padding: 106px 0px 5px;
  color: #fff;
  font: 17px/24px Cambria, Georgia, "Times New Roman", Times, serif;
  background: url(/images/icons/frac_icons-6.png) center top no-repeat;
  overflow: hidden; }

.heroes_ranks div > span:nth-child(2) {
  height: 25px;
  color: #ea8f13;
  font: 20px/30px Arial;
  text-shadow: 1px 1px 1px #000000;
  overflow: hidden; }

.heroes_ranks div > span:nth-child(4) {
  height: 19px;
  color: #9c9c9c;
  font: 16px/12px Cambria, Georgia, "Times New Roman", Times, serif;
  overflow: hidden; }

.heroes_ranks div > span {
  width: inherit;
  display: inline-block; }

#player_table {
  color: #ffffff; }
  #player_table input {
    color: #000000; }
  #player_table table {
    background-color: rgba(0, 0, 0, 0.4); }
    #player_table table > thead > tr > th:nth-child(1) {
      color: #e8c35f; }
    #player_table table a {
      color: #e8c35f; }
    #player_table table tbody > tr:hover {
      background-color: rgba(0, 0, 0, 0.5); }
  #player_table > div:nth-child(1) {
    margin-bottom: 50px; }
  #player_table > div:nth-child(3) {
    margin-top: 5px; }
  #player_table ul {
    list-style-type: none;
    padding-left: 0; }
  #player_table .main_roster_filters {
    font-family: fantasy;
    font-size: 16px;
    letter-spacing: 1px; }
  #player_table .main_roster_filters > li:nth-child(1) input {
    width: 100%; }
  #player_table .main_roster_info {
    margin-top: 50px; }

@font-face {
  font-family: main-font;
  /* ╨У╨░╤А╨╜╨╕╤В╤Г╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
  src: url(/fonts/T2LUHxYu.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
.section-2 {
  /*width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;*/ }
  .section-2 .page__content__conteiner {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em; }
  .section-2 .page__content__conteiner:after {
    content: ' ';
    display: block;
    height: 130px;
    clear: both; }
  .section-2 .mypage-header {
    width: 1100px;
    margin: 0 auto;
    height: 150px;
    color: #222f36;
    position: relative;
    top: 0;
    left: 50px; }
  .section-2 .header__text {
    position: absolute;
    top: 70px;
    left: 50px;
    font-family: main-font;
    font-size: 60px; }
  .section-2 .small-item {
    width: 306.66667px; }
  .section-2 .page-content {
    width: 980px;
    margin: 0 auto; }
  .section-2 .content__item {
    float: left;
    margin: 10px 5px 0 5px;
    background: linear-gradient(to bottom, rgba(0, 70, 117, 0.6), rgba(147, 194, 210, 0.79));
    box-shadow: 4px 2px 3px #43545D, 0 0 10px rgba(0, 70, 117, 0.6) inset;
    position: relative;
    height: 320px;
    opacity: 0.8; }
    .section-2 .content__item:hover {
      opacity: 1;
      background: linear-gradient(to bottom, rgba(0, 70, 117, 0.6), #93c2d2); }
  .section-2 .content__img {
    float: none;
    margin-right: 8px;
    width: 100%;
    height: 150px; }
  .section-2 .conteiner_project_img {
    margin-top: 5px;
    text-align: center; }
  .section-2 .content_img_logo {
    display: none; }
  .section-2 .active__hover_img {
    display: inline-block; }
  .section-2 .content__head .head__text {
    width: 100%;
    background-color: #203745;
    display: inline-block;
    color: #eaeaea;
    text-shadow: 3px 3px 2px #222f36;
    font-size: 20px;
    font-family: main-font;
    line-height: 30px;
    vertical-align: top;
    text-align: center; }
  .section-2 .content__body {
    padding: 7px;
    color: #ffffff; }

footer {
  clear: both;
  position: relative;
  width: 100%;
  margin-top: -90px;
  height: 90px;
  background-color: #333333; }

.scrollcontrol {
  position: absolute;
  top: -20px;
  left: 48%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: transparent transparent #333333; }

.footer-wrapper {
  width: 980px;
  margin: 0 auto; }

.footer__content {
  background-color: #333333;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed; }

.content-table {
  display: table-cell;
  height: 90px;
  text-align: center;
  vertical-align: middle;
  color: #e4e5e4; }

.copyright {
  font-size: 12px; }
  .copyright img {
    zoom: 0.8; }

.footer__logo img {
  zoom: 1; }
.footer__logo .footer__logo_text {
  font-family: cursive;
  font-size: 14px; }

.site__map {
  margin: 0 auto;
  width: 120px; }

.head_site__map {
  font-size: 20px;
  border-bottom: 1px solid #00ffff;
  margin: 3px 0; }

.site__map-left {
  float: left; }

.site__map-right {
  float: right; }

.sitemap__link {
  font-size: 14px;
  text-decoration: none;
  color: #b0b3b0;
  display: block; }
  .sitemap__link:hover {
    color: #006666;
    text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
