<section class="page section-1">
  <div class="container" ng-controller="NewsCtrl">
    <div class="row first-row">
      <p class="header__text-main">Добро пожаловать на сайт гильдии плохишей</p>
      <p class="header__text-subtext">Новости</p>
      <div class="header__project-active hidden-sm hidden-xs">
        <p class="header__project_text">Сейчас играем в</p>
        <div class="header__project_img">
          <img src="images/icons/newsPage/activeLogo.png" />
        </div>
      </div>
    </div>

    <div class="row">
    <div ng-repeat="new in news">
      <div class="col-lg-10 test__conteiner">
        <div class="conteiner_content_img hidden-sm hidden-xs">
          <img alt="logo" ng-src={{new.image}}>
        </div>
        <p class="myhead__text">{{new.headtext}}</p>
        <p class="content__text">{{new.contenttext}}</p>
        <button type="button" class="btn btn-link pull-right">Читать далее</button>
      </div>
    </div>

    <div class="col-lg-2 sidebar hidden-md hidden-sm hidden-xs">
      <ul>
        <li>Статус сервера</li>
        <li>TeamSpeak</li>
        <li>Чат</li>
        <li>Набор</li>
      </ul>
       </div>
    </div>
  </div>

</section>