<div class="heroes_ranks_header">
  <div class="bottons_tree">
    <div class="player-head tree-player">
      <a href="#/players_tree">Древо рангов</a>
      <a href="#/players_table">Таблица игроков</a>
    </div>
  </div>
  <div class="tree_header">
    <span>Структура гильдии</span>
  </div>
</div>
<div class="heroes_ranks frac1">
  <div>
    <div><span>Глава</span><span>Царь</span></div>
  </div>
  <div>
    <div><span>Заместитель</span><span>Добрыня</span></div>
    <div><span>Заместитель</span><span>Святослав</span></div>
  </div>
  <div>
    <div><span>Воевода</span><span>Грозаморей</span></div>
    <div><span>Воевода</span><span>Непобедимый</span></div>
    <div><span>Воевода</span><span>Пондер</span></div>
  </div>
  <div>
    <div><span>Офицер</span><span>Вода</span></div>
    <div><span>Офицер</span><span>Огонь</span></div>
    <div><span>Офицер</span><span>Земля</span></div>
    <div><span>Офицер</span><span>Воздух</span></div>
  </div>
  <div>
    <div><span>Казначаей</span><span>Зорк</span></div>
  </div>
</div>