<div class="container" id="player_table" ng-controller="PlayersTableCtrl">
  <div class="row">
    <div class="col-lg-12">
       <h1>Список игроков</h1>
      <!--<span>Список игроков</span>-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <span><b>Фильтры:</b></span>
    </div>
    <div class="col-lg-2">
      <span>Текущая страница: 1</span>
    </div>
    <div class="col-lg-4 col-lg-offset-4 text-right">
      <span>Пред.</span>
      <span>След.</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 hidden-sm hidden-xs">
      <ul class="main_roster_filters">
        <li>
          <input type="text">
        </li> 
        <li>Танки</li>
        <li>ДД</li>
        <li>Хил</li>
        <li>Сапорт</li>
      </ul>
      <ul class="main_roster_info">
        <li><b>Общая информация:</b></li> 
        <li>Общий состав - 11</li>
        <li>Танков - 2</li>
        <li>Ддшников - 7</li>
        <li>Хилов - 2</li>
        <li>Сапортов - 0</li>
      </ul>
    </div>
    <div class="col-lg-10">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th><a href="" ng-click="sort('nickname')">Ник</a></th>
            <th><a href="" ng-click="sort('class')">Класс</a></th>
            <th><a href="" ng-click="sort('specialization')">Роль</a></th>
            <th><a href="" ng-click="sort('lvl')">Ур.</a></th>
            <th><a href="" ng-click="sort('rang')">Ранг</a></th>
            <th><a href="" ng-click="sort('itemslvl')">Ур. предметов</a></th>
            <th><a href="" ng-click="sort('achivpoints')">Достижения</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in players | orderBy:sortField:reverse">
            <td>{{$index + 1}}</td>
            <td>{{player.nickname}}</td>
            <td>{{player.class}}</td>
            <td>{{player.specialization}}</td>
            <td>{{player.lvl}}</td>
            <td>{{player.rang}}</td>
            <td>{{player.itemslvl}}</td>
            <td>{{player.achivpoints}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
