<section id="section4" class="page section-4">
  <div class="page__content__conteiner">
    <div class="mypage-header">
      <div class="header__text">
        Проекты
      </div>
    </div>
    <div class="page-content">
      <div class="content__item small-item">
        <div class="content__img">
         <div class="conteiner_project_img">
            <img class="content_img_logo active__hover_img" alt="logo" src="images/icons/page4/Never.png" />
            <img class="content_img_logo" alt="logo" src="images/icons/page4/Nevercolor.png" />
        </div>
        </div>
        <div class="content__head">
          <div class="head__text">
            Neverwinter
          </div>
          <div class="content__body">
            <div class="content__text">
              <p>For our long-standing fans and loyal players, we would like to say thank you and show our appreciatio prior to January 23, 2015 and who upgrade their acco</p>
            </div>
          </div>
        </div>
      </div>
      <div class="content__item small-item">
        <div class="content__img">
          <div class="conteiner_project_img">
            <img class="content_img_logo active__hover_img" alt="logo" src="images/icons/page4/Skyforge.png" />
            <img class="content_img_logo" alt="logo" src="images/icons/page4/Skyforgecolor.png" />

          </div>
        </div>
        <div class="content__head">
          <div class="head__text">
            Skyforge
          </div>
          <div class="content__body">
            <div class="content__text">
              <p>For our long-standing fans and loyal players, we would like to say thank you and show our appreciatio prior to January 23, 2015 and who upgrade their acco</p>
            </div>
          </div>

        </div>
      </div>
      <div class="content__item small-item">
        <div class="content__img">
          <div class="conteiner_project_img">
            <img class="content_img_logo active__hover_img" alt="logo" src="images/icons/page4/AA.png" />
            <img class="content_img_logo" alt="logo" src="images/icons/page4/AAcolor.png" />

          </div>
        </div>
        <div class="content__head">
          <div class="head__text">
            ArcheAge
          </div>
          <div class="content__body">
            <div class="content__text">
              <p>In our January 23 FAQ, we wanted to clarify that Guild Wars 2: Heart of Thorns would not be a stand-a(Factions® and Nightfall®), but instead would be a tr</p>
            </div>
          </div>

        </div>
      </div>
      <div class="content__item small-item">
        <div class="content__img">
          <div class="conteiner_project_img">
            <img class="content_img_logo active__hover_img" alt="logo" src="images/icons/page4/GW2.png" />
            <img class="content_img_logo" alt="logo" src="images/icons/page4/GW2color.png" />

          </div>
        </div>
        <div class="content__head">
          <div class="head__text">
            GuildWars2
          </div>
          <div class="content__body">
            <div class="content__text">
              <p>For all players who purchased the Guild Wars 2 core game from our website and registered it between Jrs 2: Heart of Thorns, we will automatically refund w</p>
            </div>
          </div>

        </div>
      </div>
      <div class="content__item small-item">
        <div class="content__img">
          <div class="conteiner_project_img">
            <img class="content_img_logo active__hover_img" alt="logo" src="images/icons/page4/Tera.png" />
            <img class="content_img_logo" alt="logo" src="images/icons/page4/Teracolor.png" />

          </div>
        </div>
        <div class="content__head">
          <div class="head__text">
            Tera
          </div>
          <div class="content__body">
            <div class="content__text">
              <p>For all players who purchased the Guild Wars 2 core game from our website and registered it between Jrs 2: Heart of Thorns, we will automatically refund w</p>
            </div>
          </div>

        </div>
      </div>
      <div class="content__item small-item">
        <div class="content__img">
          <div class="conteiner_project_img">
            <img class="content_img_logo active__hover_img" alt="logo" src="images/icons/page4/WOW.png" />
            <img class="content_img_logo" alt="logo" src="images/icons/page4/WOWcolor.png" />

          </div>
        </div>
        <div class="content__head">
          <div class="head__text">
            WorldOfWarcraft
          </div>
          <div class="content__body">
            <div class="content__text">
              <p>For all players who purchased the Guild Wars 2 core game from our website and registered it between Jrs 2: Heart of Thorns, we will automatically refund w</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>